.container {
  width: 25%;
  position: absolute;
  top: 20%;
  left: 473.75px;
  background-color: #23235b;
  color: white;
  padding: 20px;
  border: 2px solid #23235b;
  border-radius: 10px;
}

.input-length {
  display: flex;
  justify-content: space-between;
}

.output-len {
  width: 50px;
}

button {
  width: 100%;
}

body {
  background-color: #3b3b98;
}

h3 {
  margin-bottom: 20px;
}
